[Unit]
Description=lakehouse

[Service]
Type=simple
Restart=always
RestartSec=3
WorkingDirectory=/opt/apps/lakehouse
ExecStart=/opt/apps/lakehouse/lakehouse

[Install]
WantedBy=multi-user.target
