{{define "page"}}
<main>
    <h1>lakehouse wiki</h1>

    <div class="landing-lead">
        hardcore docs.
        <br>simple.
        <br>with real-time collaboration.
    </div>
    <div class="landing-subtitle">
        mostly for engineers.
    </div>

    <h2>features</h2>
    <ul>
        <li>simple docs</li>
        <li>flat hierarchy</li>
        <li>fast and minimal UI</li>
        <li>markdown editing</li>
        <li>real-time collaboration</li>
        <li>privacy-first ethos</li>
        <li><a href="https://git.sr.ht/~sirodoht/lakehousewiki">open source</a></li>
    </ul>

    <h2>pricing</h2>
    <ul>
        <li>free plan</li>
        <ul>
            <li>team size up to 7 people</li>
            <li>public-read mode only</li>
        </ul>
        <li>premium plan</li>
        <ul>
            <li>$1 per user per month</li>
            <li>all features</li>
        </ul>
    </ul>

    <a href="/signup" class="landing-cta">
        signup
    </a>
</main>
{{end}}
