{{define "page"}}
<main>
    <h1>edit document: {{.Document.Title}}</h1>
    <form method="post">
        <p>
            <label for="id_title">title</label>
            <input type="text" name="title" maxlength="300" required id="id_title" value="{{.Document.Title}}">
        </p>
        <p>
            <label for="id_body">body</label>

            <div class="element" style="border: 1px solid black">
            </div>

            <!-- <textarea rows="10" name="body" id="id_body">{{.Document.Body}}</textarea> -->
        </p>
    </form>
</main>
{{end}}

{{define "scripts"}}
<script>
    const DOCUMENT_NAME = "document-{{.Document.ID}}";
    const DOCUMENT_BODY = "document-{{.Document.Body}}";
</script>
<script type="module" src="/static/bundle.js"></script>
{{end}}
