{{define "page"}}
<main>
    <h1>lakehouse</h1>

    <ul class="lead">
        <li>
            <b>dead simple wikis for everyone</b>
            →
            <a href="/signup">sign up here</a>
        </li>
        <ul>
            <li>for teams or individuals</li>
            <li>public or private</li>
        </ul>
        <li>see example wiki</li>
    </ul>

    <h2>pricing</h2>
    <ul>
        <li>free plan</li>
        <ul>
            <li>team size up to 7 people</li>
            <li>public-read mode only</li>
        </ul>
        <li>premium plan</li>
        <ul>
            <li>$0.50 per user per month</li>
            <li>all features</li>
        </ul>
    </ul>

    <h2>features</h2>
    <ul>
        <li>markdown editing</li>
        <li>sso with google</li>
        <li>collaboration</li>
        <ul>
            <li>real time editing (up to 43 people) at the same time</li>
        </ul>
        <li>open source</li>
        <ul>
            <li>self-hosting and need help? buy support</li>
        </ul>
        <li>privacy-first ethos</li>
        <li>also</li>
        <ul>
            <li>custom domain</li>
            <li>API</li>
            <li>import from confluence</li>
            <li>export as markdown</li>
            <li>choose server location in our hosted solution</li>
        </ul>
    </ul>

    <p>
        ✱ <a href="/signup">signup</a>
    </a>
</main>
{{end}}
