{{define "page"}}
<main>
    <h1>lakehouse wiki</h1>

    <ul class="lead">
        <li>
            <b>dead simple wikis for collaboration</b>
            →
            <a href="/signup">sign up here</a>
        </li>
        <ul>
            <li>for teams or individuals</li>
            <li>public or private</li>
        </ul>
    </ul>

    <h2>pricing</h2>
    <ul>
        <li>free plan</li>
        <ul>
            <li>team size up to 7 people</li>
            <li>public-read mode only</li>
        </ul>
        <li>premium plan</li>
        <ul>
            <li>$0.50 per user per month</li>
            <li>all features</li>
        </ul>
    </ul>

    <h2>features</h2>
    <ul>
        <li>fast and minimal UI</li>
        <li>markdown editing</li>
        <li>privacy-first ethos</li>
        <li><a href="https://github.com/sirodoht/lakehousewiki">open source</a></li>
    </ul>

    <p>
        ✱ <a href="/signup">signup</a>
    </a>
</main>
{{end}}
