<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>lakehouse</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
            <a href="/signup">signup</a>
            | <a href="/login">login</a>
            | <a href="/new/doc">new document</a>
            | <a href="/docs">all docs</a>
            | {{ .loggedIn }}
            | {{ .username }}
        </nav>
        {{template "page" .}}
    </body>
</html>
