<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log in</title>
    </head>
    <body>
        <h1>Log in</h1>
        <form method="post">
            <p>
                <label for="id_username">Username</label>
                <input type="text" name="username" maxlength="64" required id="id_username">
            </p>
            <p>
                <label for="id_password">Password</label>
                <input type="password" name="password" required id="id_password">
            </p>
            <input type="submit" value="login">
        </form>
    </body>
</html>
